{% extends 'adminpages/admin_base.html' %}
{% block title %} Order Detail {% endblock %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Order Details</h3>
            <p><span>Order ID:</span> #Order_{{ord_obj.id}}</p>
            <p><span>Order Status: </span> {{ord_obj.order_status}}</p>
            <p><b><span>Ordered on:</span></b>{{ord_obj.created_at}}({{ord_obj.created_at|timesince}})</p>
            <p><b><span>Shipping info:</span></b>{{ord_obj.ordered_by}}, {{ord_obj.mobile}}</p>
            <p><b><span>Shipping Address:</span></b>{{ord_obj.shipping_address}} ({{ord_obj.email}})</p>

            <h4>Order items</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                   {% for cp in ord_obj.cart.cartproduct_set.all %} 
                   <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a target="_blank" href="{% url 'furnitureGo:productdetails' cp.product.slug %}"> {{cp.product.title}}</a></td>
                    <td>{{cp.rate|intcomma}}</td>
                    <td>{{cp.quantity}}</td>
                    <td>{{cp.subtotal|intcomma}}</td>
                   </tr>

                   {% endfor %}
                   <tr>
                    <th colspan="4" class="text-right">Total</th>
                    <th>Ksh {{ord_obj.total|intcomma}}</th>
                   </tr>
                </tbody>
            </table>
            <form action="{% url 'furnitureGo:adminchangeorderstatus' ord_obj.id  %}" method="post">
                {% csrf_token %}
                <select name="status">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == ord_obj.order_status %} selected {% endif %}>{{j}}</option>

                    {% endfor %}
                </select>
                <button class="btn btn-info">Change</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}