
*{
    margin: 0;
    padding: 0;
  }
  h2{
    font-size: 32px;
  font-style: italic;
  font-family: Arial;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 1.2px;
  
  
  
  }
  
  
  .main{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) ,rgba(165, 0, 0, 0.5));
    background-position: center;
    background-size: cover;
    height: auto;
  }
  .navbar{
 
    height: 75px;
    margin: auto;
  }
  .icon{
    width: 400px;
    float: left;
    height: 70px;
  }
  .logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    text-shadow: 2px 2px 4px #000000;
    float: left;
    padding-top: 10px;
  }
  .menu{
    height: 70px;
    float: left;
  }
  ul{
    display: flex;
    float:left;
    justify-content: center;
    align-items: center;
  }
  ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 27px;
    font-size: 14px;
    
  }
  ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  text-shadow: 2px 2px 4px #000000;
  
  }
  ul li a:hover{
    color: #ff7200;
  }
  .apply{
    width: 330px;
    float: left;
    margin-left: 50px;
  }
  .btn{
    width: 150px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-radius: 16px;
    transition: 00.4s ease-in-out;
    cursor: pointer;
  }
  .btn a{
    text-decoration: none;
    
  }
  .btn:hover{
    background-color: white;
    
  }
  
  .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
  }
  .content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-shadow: 2px 2px 4px #000000;
  
  }
  .content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
  
  }
  .content .login_btn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    font-size: 18px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 16px;
    cursor: pointer; 
    transition: .4s ease;
  }
  .content .login_btn a{
    text-decoration: none;
    transition: .3s ease;
  }
  .login_btn:hover{
    background-color: white;
  }
  .content span{
    color: #ff7200;
    font-size: 60px;
  }
  .side_home{
    width: 250px;
    height: 380px;
    position: absolute;
    top: -20px;
    left: 870px;
    padding: 25px;
    border: 2px solid #ff7200;
  }
  .reg_btn{
    width: 120px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-left: 60px;
    margin-top: 13px;
    align-self: center;
    color: white;
    font-size: 15px;
    border-radius: 16px;
    transition: 00.4s ease-in-out;
    cursor: pointer;
  }
  .reg_btn a{
    text-decoration: none;
    
  }
  .reg_btn:hover{
    background-color: white;
    
  }