
*{
    margin: 0;
    padding: 0;
  }
 
  .navbar{
 
    height: 75px;
    margin: auto;
  }
  .icon{
    width: 400px;
    float: left;
    height: 70px;
  }
  .logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    text-shadow: 2px 2px 4px #000000;
    float: left;
    padding-top: 10px;
  }
  .menu{
    height: 70px;
    float: left;
  }
  ul{
    display: flex;
    float:left;
    justify-content: center;
    align-items: center;
  }
  ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 27px;
    font-size: 14px;
    
  }
  ul li a{
  text-decoration: none;
  color:#ff7200;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  
  }
  ul li a:hover{
    color: white;
  }
 
 
 
  
 
 