{% extends 'base.html' %}
{% block title %} Checkout {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
             <h3>  Items in cart </h3>
             <a href="{% url 'furnitureGo:mycart' %}">Update Cart</a>
             
             <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                       
                    </tr>

                </thead>

                <tbody>
                {% for cp in cart.cartproduct_set.all %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img src="{{cp.product.image.url}}" alt="" width="100" height="100"></td>
                    <td>{{cp.product.title}}</td>
                    <td>{{cp.quantity}}</td>
                    <td>{{cp.rate}}</td>
                    <td>Ksh {{cp.subtotal}}</td>
                  </tr>
                  {% endfor %}
            
                  <tr >
                    <th colspan="5">Total</th>
                    <th>Ksh {{cart.total}}</th>
                    </tr>
                  </tbody>
                  </table>
        </div>
        <div class="col-md-6">
          <h3>Checkout form</h3> 
          <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-info btn-sm">Place Order</button>


          </form>
        </div> 
    </div>
</div>

{% endblock %}