{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Login</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary btn-sm">Login</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
<p>Dont have an account? <a style="text-decoration: none;" href="{% url 'furnitureGo:user_register' %}{% if request.get.next %}?next={{request.GET.next}}{% endif %}">Register</a></p>
        </div>
    </div>
</div>

{% endblock %}